html {
    position: relative;
    min-height: 100%;
}
body { 
background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/hip-square.png");
margin: 0;
 margin: 0 0 100px; /* bottom = footer height */
}
.butheader {
	color: #777777;
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}
#nameContainer {
	width: 200px;
	height: 100px;
	background-color: #4aaaa5;
	margin-left: 120px;
	float: left;
	text-align: center;
	line-height: 100px;
}
#navItems { 
	min-height: 100px; 
	float: right;
	margin-right: 180px;
	text-align: center;
	border-spacing: 50px;
}
.topnav a {
	text-decoration: none;
	color: #777777;
	line-height: 100px;
	padding: 2px;
	font-size: 18px;
}
.topnav p {
	margin: 0;
	color: #fff;
	font-size: 28px;
	font-style: "bold";
	font-weight: 900
}
.topnav {
	width: 100%;
	height: 100px;
	background-color: #fff;
	margin: 0;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}
.MainContent hr {
	color: #dddddd;
	border-style: solid;
	border-width: 1.5px;
}
.maincontentbox {
	float: left;
	width: 600px;
	height: 700px;
	background-color: #fff;
	margin: 20px;
	margin-bottom: 150px;
	margin-left: 120px;
	padding: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #dddddd;
	display: flex;
	flex-flow: wrap;
	margin-top: 30px;
	position: relative;
}
.connectbox {
	float:right;
	width: 250px;
	height: 170px;
	background-color: #fff;
	margin: 20px;
	margin-right: 170px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #dddddd;
	position: relative;
	margin-top: 30px;
}
.footer {
	content: "";
	clear: both;
	font-size: 14px;
	background-color: #666666;
	color: #dcdcdc;
	line-height: 75px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #4aaaa5;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.MainContent img {
	margin-right: 28px;
}
.MainContent h1 {
	margin-bottom: -10px;
	color: #4aaaa5;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}
.ConnectwithMe h2 {
	position: absolute;
	text-align: center;
	margin-left: 20px;
	color: #4aaaa5;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}
.ConnectwithMe a {
	position: relative;
	top: 90px;
	margin: 5px;
}
.ConnectwithMe hr {
	margin-left: 20px;
	margin-right: 20px;
	color: #dddddd;
	border-style: solid;
	border-width: 1.5px;
}
#name {
	width: 570px;
    padding: 15px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#email {
	width: 570px;
    padding: 15px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#message {
	width: 570px;
    padding: 130px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: top;
}
#submit {
	width: 130px;
    padding: 15px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 	text-align: center;
 	background-color: #4aaaa5;
 	color: #fff;
 	font-size: 16px; 
}
button:hover {
	background-color: #4682b4;
}
.allboxes p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	height:40px;
	width: 254px;
	background-color: #4aaaa5;
	z-index: 1
	color: #fff;
	font-size: 24px;
	padding: 8px;
	margin-top: 90px;
	text-align: center;
}
#nature {
	float: left;
	margin-top: 10px;
	background: url("http://lorempixel.com/output/nature-q-c-640-480-1.jpg");
	background-size: 100%;
	background-height: 170px;
	background-width: 250px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 24px;
	z-index: 2
}
#animals {
	float: right;
	margin-top: 10px;
	background: url("http://lorempixel.com/output/animals-q-c-640-480-1.jpg");
	background-size: 100%;
	height: 170px;
	width: 270px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 24px;
}
#technics {
	float: left;
	background: url("http://lorempixel.com/output/technics-q-c-640-480-6.jpg");
	background-size: 100%;
	height: 170px;
	width: 270px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 24px;
	z-index: 2;
}
#transport {
	float: right;
	background: url("http://lorempixel.com/output/transport-q-c-640-480-4.jpg");
	background-size: 100%;
	height: 170px;
	width: 270px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 24px;
}
#food {
	float: left;
	background: url("http://lorempixel.com/output/food-q-c-640-480-8.jpg");
	background-size: 100%;
	height: 170px;
	width: 270px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 24px;
}